<div class="modal fade" id="modalDelete" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content shadow">
      <form method="post" action="">
        {% csrf_token %}
        <div class="modal-header">
          <h3 class="modal-title text-capitalize">Excluir <span class="model-name"></span>?</h3>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <p>Deseja mesmo excluir <span class="model-name"></span> <strong class="object-description"></strong>?</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-link" data-bs-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-danger">
            <strong>Sim, excluir</strong>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
