.asteriskField {
  display: none;
}

.bi-heart-fill {
  font-size: 0.8em;
}

#tableList td > a {
  font-weight: bold;
  text-decoration: none;
}

@media (max-width: 991.98px){
  footer.footer {
    width: 100vw;
  }
}
