{% extends "base_site.html" %}

{% load static %}
{% load django_tables2 %}
{% load crispy_forms_tags %}

{% block title %}Lista de anúncios | {{ block.super }}{% endblock %}

{% block content %}
  {% if existem_objetos_cadastrados %}
    <div class="card">
      <div class="card-header p-4">
        <div class="d-flex flex-column flex-lg-row align-items-md-end mx-4">
          <h1 class="card-title me-auto">Anúncios</h1>
          <div class="d-flex">
            <div class="flex-fill">
              <a class="btn btn-primary btn-block" href="{% url 'anuncios:anuncio_create' %}">
                <i class="bi bi-plus-lg" aria-hidden="true"></i>
                <span>Novo Anúncio</span>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="card-body mx-4">{% render_table table %}</div>
    </div>
  {% else %}
    <div class="p-5 mb-5 bg-transparent text-center">
      <div class="container-fluid py-5">
        <h2 class="jumbotron-heading">Cadastre um novo anúncio</h2>
        <p class="lead text-muted">Está meio vazio aqui... Clique no botão abaixo para cadastrar seu 1º anúncio.</p>
        <a class="btn btn-primary" href="{% url 'anuncios:anuncio_create' %}">
          <i class="bi bi-plus-lg" aria-hidden="true"></i>
          <span>Novo anúncio</span>
        </a>
      </div>
    </div>
  {% endif %}
{% endblock content %}
