{% extends "base_site.html" %}

{% load static %}

{% block title %}Editar anúncio | {{ block.super }}{% endblock title %}

{% block content %}
  <div class="col-xl-8 mx-auto">
    <div class="card">
      <form method="post">
        {% csrf_token %}
        <div class="card-header p-4">
          <h1>Editar Anúncio</h1>
        </div>
        <div class="card-body mx-4">
          {% include 'anuncios/_anuncio_form_fields.html' %}
        </div>
        <div class="card-footer d-flex flex-column flex-md-row p-4">
          <input class="btn btn-primary order-2" type="submit" value="Salvar Alterações">
          <a class="btn btn-link d-none d-md-block me-auto order-1" href="{{ view.get_success_url }}">Cancelar</a>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block javascript %}
  {{ block.super }}
  <script src="{% static 'js/inputmask.min.js' %}"></script>
  <script src="{% static 'anuncios/js/app.js' %}"></script>
{% endblock javascript %}
